@model IEnumerable<POS.Models.UserRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserRoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserRoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserRoleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserRoleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserRoleId })
        </td>
    </tr>
}

</table>
